<nav class="menu">
    <a
      class="menu-item"
      name="Transportation"
      href="/transportation"
      >교통</a
    >
    <a class="menu-item active" name="Contact" href="/contact"
      >연락</a
    >
  </nav>

  <div id="menu-button">Menu</div>