<!-- UT-NodeJS 중간고사 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UT-NodeJS 중간고사 | Contact</title>

    <!-- 학생 이름과 학번 -->
    <meta name="author" content="Seohyeonteak" />
    <meta name="description" content="2425405" />

    <!-- CSS 파일에 대한 link테그를 수정하십시오 -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Compiled: https://codepen.io/fionnachan/pen/EvaqOB -->
    <link rel="stylesheet" href="css/confetti.css" />
    <link
      rel="stylesheet"
      media="(max-width: 768px)"
      href="css/style.small.css"
    />
        <!-- @TODO: -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
  
    <!-- @TODO: JS 파일에 대한 script테그를 완성하십시오 -->
    <script defer src="js/functions.js"></script>
  </head>

  <body>

    <!-- MAIN 페이지 내용 -->
    <main class="">
      <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-3">
          <div class="col-lg-7 text-center text-lg-start mb-3">
            <figure>
              <img
                src="https://cdn.pixabay.com/photo/2015/08/07/06/28/transportation-879026_960_720.jpg"
              />
            </figure>
            <h1 class="display-4">Contact Us</h1>
            <p class="lead col-lg-10 fs-4">Get in touch to find out more.</p>
          </div>

          <div class="col-md-10 mx-auto col-lg-5 mb-5">
            <form
              class="p-4 p-md-5 border rounded-3 bg-light"
              action="/contact"
              method="post"
            >
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingName"
                  placeholder="Name"
                />
                <label for="floatingName">Name</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">Email address</label>
              </div>
              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="subscribe" /> Subscribe to
                  Newsletter
                </label>
              </div>
              <button class="w-100 btn btn-lg btn-primary ut-red" type="submit">
                Submit
              </button>
              <hr />
              <small class="text-muted"
                >We'll never share your email with anyone else.</small
              >
            </form>
          </div>
        </div>
      </div>
    </main>



    <!-- Bootstrap의 JS -->
    <script src="../public/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
