<!-- UT-NodeJS 중간고사 -->
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UT-NodeJS 중간고사</title>

    <!-- 학생 이름과 학번 -->
    <meta name="author" content="Seohyeonteak" />
    <meta name="description" content="2425405" />

    <!-- CSS 파일에 대한 link테그를 수정하십시오 -->
    
    <link rel="stylesheet" href="css/style.css" />
    <!-- Compiled: https://codepen.io/fionnachan/pen/EvaqOB -->
    <link rel="stylesheet" href="css/confetti.css" />
    <link rel="stylesheet" media="(max-width: 768px)" href="css/style.small.css" />
  
    <!-- @TODO: -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
  
    <!-- @TODO: JS 파일에 대한 script테그를 완성하십시오 -->
    <script defer src="js/functions.js"></script>
  </head>

  <body id="index">
    <!-- HEADER -->
    <%- include('partials/header'); %>
    <%- body; %> 
    <%- include('partials/footer'); %>

    <!-- MAIN 페이지 내용 -->
 

    <!-- FOOTER -->

    <!-- Bootstrap의 JS -->
    <script src="../public/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
